body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(#b9cbd8,#e8eef3);
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:700px;
}

.card{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0px 8px 20px rgba(0,0,0,0.15);
}

h1{
    text-align:center;
    color:#444;
    margin-bottom:25px;
}

.box{
    padding:15px;
    border-radius:8px;
    margin-bottom:15px;
    border:1px solid #ddd;
}

.question{
    background:#eef3f7;
}

.answer{
    background:#e6f3ea;
}

.box h3{
    margin:0;
    font-size:16px;
    color:#444;
}

.box p{
    margin-top:8px;
}

.input-area{
    display:flex;
    margin-top:15px;
}

input{
    flex:1;
    padding:12px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
}

button{
    margin-left:10px;
    padding:12px 20px;
    border:none;
    border-radius:6px;
    background:#2c6ed5;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#1f54a6;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(#b9cbd8,#e8eef3);
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:700px;
}

.card{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0px 8px 20px rgba(0,0,0,0.15);
}

h1{
    text-align:center;
    color:#444;
    margin-bottom:25px;
}

.box{
    padding:15px;
    border-radius:8px;
    margin-bottom:15px;
    border:1px solid #ddd;
}

.question{
    background:#eef3f7;
}

.answer{
    background:#e6f3ea;
}

.box h3{
    margin:0;
    font-size:16px;
    color:#444;
}

.box p{
    margin-top:8px;
}

.input-area{
    display:flex;
    margin-top:15px;
}

input{
    flex:1;
    padding:12px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
}

button{
    margin-left:10px;
    padding:12px 20px;
    border:none;
    border-radius:6px;
    background:#2c6ed5;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#1f54a6;
}
