<!DOCTYPE html>
<html>
<head>
    <title>CloudAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="card">

        <h1>☁ CloudAI – Cloud-Based Prompt System</h1>

        {% if user_prompt %}
        <div class="box question">
            <h3>Question:</h3>
            <p>{{ user_prompt }}</p>
        </div>
        {% endif %}

        {% if response %}
        <div class="box answer">
            <h3>Answer:</h3>
            <p>{{ response }}</p>
        </div>
        {% endif %}

        <form method="POST" class="input-area">

            <input 
            type="text"
            name="prompt"
            placeholder="Type your prompt here..."
            required>

            <button type="submit">Send</button>

        </form>

    </div>

</div>

</body>
</html>
